<mat-toolbar class="mx-auto border-x justify-between shadow-sm">
  <a routerLink="">Store</a>
  <app-theme-toggle></app-theme-toggle>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon
      [matBadge]="itemsQuantity"
      [matBadgeHidden]="!itemsQuantity"
      matBadgeColor="warn"
      >shopping_cart</mat-icon
    >
  </button>
  <mat-menu #menu="matMenu">
    <div class="p-3 divide-y divide-solid">
      <div class="pb-3 flex justify-between">
        <span class="mr-16"> {{ itemsQuantity }} item(s) </span>
        <a routerLink="cart">View Cart</a>
      </div>
      <div *ngIf="cart.items.length" class="py-3">
        <div
          *ngFor="let item of cart.items"
          class="flex justify-between font-light mb-2"
        >
          {{ item.name }} x {{ item.quantity }}
          <span class="font-bold">{{ item.price | currency : "€" }}</span>
        </div>
      </div>
      <div class="flex justify-between py-3 font-light">
        Total:
        <span class="font-bold">
          {{ getTotal(cart.items) | currency : "€" }}
        </span>
      </div>
      <div class="pt-3 flex justify-between">
        <button
          (click)="onClearCart()"
          class="bg-rose-500 text-white rounded-full w-9 h-9"
        >
          <mat-icon>delete_sweep</mat-icon>
        </button>
        <button
          routerLink="cart"
          class="bg-blue-500 text-white rounded-full w-9 h-9"
        >
          <mat-icon>pageview</mat-icon>
        </button>
      </div>
    </div>
  </mat-menu>
</mat-toolbar>
